.banner-box
	.bd
		ul
			- for (var i = 0;i < 3; i++)
				li							
					div(style='background:url(css/images/#{i+1}.png) no-repeat center center')
	.banner-btn
		a.prev(href='javascript:void(0);')
		a.next(href='javascript:void(0);')
	.hd
		ul.clearfix