script(type='text/javascript',src='js/jquery.min.js')
script(type='text/javascript',src='js/SuperSlide.2.1.1.js')
script(type='text/javascript',src='js/slider.js')
script.
    // superslider
    $(".banner-box").slide({
        titCell:".hd ul",
        mainCell:".bd ul",
        effect:"fold",
        interTime:3500,
        delayTime:500,
        autoPlay:true,
        autoPage:true, 
        trigger:"click" 
    });
    //简单的图片轮转插件
    $("#slider1").MaxSlider({
         elementclass: "slider-item",
         easing: "swing",
         time: 3000,
         speed: 1000,
         autoscroll: false,
         btnpre: $("#btn-prev"), 
         btnnext: $("#btn-next")
    });
    // 标签切换：兼容IE8
    $(".tab").click(function(e){
        var $target = $(e.target);
        if($target.hasClass("active")) return;
        $target.addClass("active").siblings().removeClass("active");
        var len = $(this).children("li").length;
        var idx = 0;
        for(var i = 0;i < len; i++){
            if($target[0] == $(this).children("li:eq('" + i + "')")[0]){
                idx = i;
                break;
            }
        }
        $(this).next(".tabcon").find(">li:eq('" + idx +"')").show().siblings().hide();
    });
