ul.talent-list
	- for (var i = 0; i < 2; i++)
		li
			a(href="")
				include ./avatar.jade
			.talent-profile
				a(href="").gray3
					p.mt10.mb10 项仁亚
				p.fz12.gray6.mb10 部门：
					span.text-trim.dept
						产品开发
				p.fz12.gray6 学分：
					span 100