doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title 项仁亚的定制页面
		link(rel="stylesheet", href="css/font-awesome.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.page
			// header
			include ./includes/header.jade
			// nav
			include ./includes/nav.jade
			// banner
			include ./includes/banner.jade
			// category
			include ./includes/category.jade
			// slider
			include ./includes/slider.jade
			// course
			include ./includes/course.jade	
			// rank
			include ./includes/talent.jade
			// footer
			include ./includes/footer.jade
		// js
		include ./includes/js.jade
			

