doctype html
html(lang='en')
	head
		include ./jade/head.jade
	body
		.page
			// header
			include ./jade/header.jade
			// nav
			include ./jade/nav.jade
			// banner
			include ./jade/banner.jade
			// category
			include ./jade/category.jade
			// slider
			include ./jade/slider.jade
			// course
			include ./jade/course.jade
			// rank
			include ./jade/talent.jade
			// footer
			include ./jade/footer.jade
		// js
		include ./jade/js.jade